.admin-items td {
  padding: 5px;
}

.admin-light-blue-row {
  background-color: #d0e7e2;
}

.admin-remover {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.admin-green-row {
  background-color: #2fc18c;
}

.admin-dark-green-row {
  background-color: #036b52;
}

.admin-purple-row {
  background-color: #421981;
}

.admin-blue-row {
  background-color: #056cf9;
}

.admin-center-white {
  color: white;
  text-align: center;
}

.center-text {
  text-align: center;
}

.w-05 {
  width: 5%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.border-radius-left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.border-radius-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
