.items td {
  padding: 5px;
}

.light-blue-row {
  background-color: #d0e7e2;
}

.remover {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.green-row {
  background-color: #2FC18C;
}

.dark-green-row {
  background-color: #036B52;
}

.purple-row {
  background-color: #421981;
}

.blue-row {
  background-color: #056CF9;
}

.center-white {
  color: white;
  text-align: center;
}
