.total-value {
  background-color: #036b52;
  border: 1px solid #036b52;
  border-radius: 3px;
  bottom: 10px;
  color: white;
  display: block;
  margin-top: 50px;
  padding: 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 150px;
}

