.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  width: auto;
}

.btn-products {
  align-items: center;
  background: rgb(3, 109, 85);
  border-radius: 10px;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 36px;
  font-weight: 700;
  height: 79px;
  justify-content: center;
  margin: 20px;
  position: fixed;
  right: 0;
  width: 445px;
}
